<h4> <%= link_to 'Update My Skills', student_skills_path, class: 'mb-2' %> </h4>
<h4> <%= link_to 'Update My Projects', projects_path, class: 'mb-2' %> </h4>

<h1>Edit Student</h1>

<%= render partial: 'form', locals: { student: @student } %>