<div class="row">
    <div class="col border">
        <h1>My Skills</h1>

        <% @selected_skills.each do |skill| %>
            <p> <%= skill.name %> <%= link_to 'Remove', remove_student_skill_path(:skill_id => skill.id), method: :delete %> </p>
        <% end %>
    </div>

    <div class="col border">
        <h1>Avilable Skills</h1>

        <% @unselected_skills.each do |skill| %>
            <p> <%= skill.name %> <%= link_to 'Add', '#' %> </p> 
        <% end %>
    </div>
</div>