<div class="row">
    <div class="col-12 col-sm-6 col-md-4 offset-md-2">
        <h2>My Skills</h2>

        <div class="border skills-section" id="student-skills">
            <% @selected_skills.each do |skill| %>
            <p> <%= skill.name %> <%= link_to 'Remove', remove_student_skill_path(:skill_id => skill.id), method: :delete, remote: true, class: 'remove-skill' %> </p>
            <% end %>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4">
        <h2>Available Skills</h2>

        <div class="border skills-section" id="available-skills">
            <% @unselected_skills.each do |skill| %>
            <p> <%= skill.name %> <%= link_to 'Add', add_student_skill_path(:skill_id => skill.id), method: :patch, remote: true, class: 'add-skill' %> </p>
            <% end %>
        </div>
    </div>
</div>