<div>
    <h4> <%= @project.name %> </h4>
    <p> <%= @project.description %> </p>
    <%= image_tag @project.img, size: '120', alt: @project.name, :target => '_blank' %>
    <%= link_to "Check it out!", @project.link, target: "_blank" %>
</div>